name: CI GreenRoots

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - run: npm ci
      - run: npx prisma generate --schema=./src/models/schema.prisma

      - run: node --test --import tsx --experimental-test-module-mocks $(find src -name '*.test.ts')
